<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody id="favorite_books_most">
   <%= render 'books/books_most',books: books %>
  </tbody>
</table>